

.scheme1{
    display: table-cell;
    width: 50px;
    height: 50px;
}

.scheme2{
    display: table-cell;
    width: 50px;
    height: 30px;
	line-height: 0;
}
.usedscheme{
    display: table-cell;
	line-height: 0;
}

#alertArea{
	height: 300px;
	padding: 15px;
}

#colorscheme2{
	line-height: 30%;
	width: 1000px;
}


.tonename{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-left: 7px;
	padding-right: 5px;
}

.usedscheme{
	vertical-align: middle;
	text-align: center;
	padding-top: 15px;
}

#nature{
	
	width: 500px;
	
	border-style: double;
	padding: 10px;
}

#svgCircle2{
	/*
	width: 500px;
	*/
	float: left;
	margin-right: 50px;
}

#form2{
	width: 500px;
	border-style: double;
	border-top: none;
	padding: 10px;
}

.Ps{
	margin: 0;
}


#chartplace{
	height: 400px;
	width: 500px;
	background-color: white;
}

#chartarea{
	border-style: double;
	width: 500px;
	height: 720px;
}

#chartmenu{
	border-bottom: double;
}

#sub{
}

svg{
	position: relative;
	bottom: auto;
}

li{
	display: inline;
	/*
	background-color: #A4A4A4;
	margin-right: 10px;
	width: 130px;
	height: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: :5px;
	*/
}

ul{
	padding: 0;
	margin: 0;
}